### Database Connection to fetch data in a dataframe using pandas

In [4]:
import pyodbc
import pandas as pd

In [5]:
pyodbc.drivers() #To check which all drivers are available

['SQL Server',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [6]:
connection = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server}; Server=SQLSERVERTEST;Database=ExactMAXCaseMedical;uid=sa;pwd=Twotbgrar2020!")
print(connection)

<pyodbc.Connection object at 0x000001A22CEC0510>

In [3]:
cursor=connection.cursor()

In [18]:
sql_query="SELECT CreationDate as date FROM [ExactMAXCaseMedical].[dbo].[SO_Detail] WHERE YEAR(CreationDate) > 2017"

In [11]:
cursor.execute(sql_query)

NameError: name 'cursor' is not defined

In [6]:
data=cursor.fetchall()
data[:5]

[('20088593', '01', '01', '4', 'VAME053             ', 'SC02NG                        ', '      ', 'N', '45201                                                                                                                                                          ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), 0, datetime.datetime(2014, 1, 8, 0, 0), '  ', 'EA', '200885930101             ', 277.39, 7.0, 7.0, 0.0, 7.0, 0.0, 0.0, 7.0, 0.0, 'CU', 'Y', 'Y', 'MED-PART', '   ', 277.39, 'R', 'VW331  ', 0.0, '          ', 0.0, '       ', 0.0, '       ', 0.0, '       ', 0.0, '   ', '   ', '               ', '                         ', 'N', 0.0, 0.0, '        ', 0, 0.0, ' ', datetime.datetime(2014, 1, 2, 0, 0), '                                                                                                    ', '                                                  ', 'marilyn', datetime.datetime(2014, 1, 2, 10, 11, 36, 253000), 'marilyn', datetime.datetime(2018, 3, 22, 12, 59, 46, 660000), datetime.datetime(2014, 1, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0), '   ', 'N', 277.39, 2, '                                                                                                                                                               ', 0.0, '                                                                                                                                                               ', None, 0.0, 0.0, '        '),
 ('20088593', '02', '01', '4', 'VAME053             ', 'STN1                          ', '      ', 'N', '45201                                                                                                                                                          ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), 0, datetime.datetime(2014, 1, 8, 0, 0), '  ', 'EA', '200885930201             ', 57.28, 7.0, 7.0, 0.0, 7.0, 0.0, 0.0, 7.0, 0.0, 'CU', 'Y', 'Y', 'FGB1B   ', '   ', 57.28, 'R', 'VW331  ', 0.0, '          ', 0.0, '       ', 0.0, '       ', 0.0, '       ', 0.0, '   ', '   ', '               ', '                         ', 'N', 0.0, 0.0, '        ', 0, 0.0, ' ', datetime.datetime(2014, 1, 2, 0, 0), '                                                                                                    ', '                                                  ', 'marilyn', datetime.datetime(2014, 1, 2, 10, 11, 49, 277000), 'marilyn', datetime.datetime(2018, 3, 22, 12, 59, 46, 660000), datetime.datetime(2014, 1, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0), '   ', 'N', 57.28, 2, '                                                                                                                                                               ', 0.0, '                                                                                                                                                               ', None, 0.0, 0.0, '        '),
 ('20088593', '03', '01', '4', 'VAME053             ', 'SCPLQ4C                       ', '      ', 'N', '45201                                                                                                                                                          ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), 0, datetime.datetime(2014, 1, 8, 0, 0), '  ', 'EA', '200885930301             ', 7.0, 7.0, 7.0, 0.0, 7.0, 0.0, 0.0, 7.0, 0.0, 'CU', 'Y', 'Y', 'FGE2A   ', '   ', 7.0, 'R', 'VW331  ', 0.0, '          ', 0.0, '       ', 0.0, '       ', 0.0, '       ', 0.0, '   ', '   ', '               ', '                         ', 'N', 0.0, 0.0, '        ', 0, 0.0, ' ', datetime.datetime(2014, 1, 2, 0, 0), '                                                                                                    ', '                                                  ', 'marilyn', datetime.datetime(2014, 1, 2, 10, 12, 13, 373000), 'marilyn', datetime.datetime(2018, 3, 22, 12, 59, 46, 660000), datetime.datetime(2014, 1, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0), '   ', 'N', 7.0, 2, '                                                                                                                                                               ', 0.0, '                                                                                                                                                               ', None, 0.0, 0.0, '        '),
 ('20088593', '04', '01', '4', 'VAME053             ', 'BES002                        ', '      ', 'N', '45201                                                                                                                                                          ', datetime.datetime(2014, 3, 11, 0, 0), '  ', datetime.datetime(2014, 3, 11, 0, 0), '  ', datetime.datetime(2014, 3, 11, 0, 0), 0, datetime.datetime(2014, 1, 8, 0, 0), '  ', 'EA', '200885930401             ', 10.87, 14.0, 14.0, 0.0, 14.0, 0.0, 0.0, 14.0, 0.0, 'CU', 'Y', 'Y', 'FGA2B   ', '   ', 10.87, 'R', 'VW331  ', 0.0, '          ', 0.0, '       ', 0.0, '       ', 0.0, '       ', 0.0, '   ', '   ', '               ', '                         ', 'N', 2.71, 0.0, '        ', 0, 0.0, ' ', datetime.datetime(2014, 1, 2, 0, 0), '                                                                                                    ', '                                                  ', 'marilyn', datetime.datetime(2014, 1, 2, 10, 12, 39, 600000), 'marilyn', datetime.datetime(2018, 3, 22, 12, 59, 46, 660000), datetime.datetime(2014, 1, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0), '   ', 'N', 10.87, 2, '                                                                                                                                                               ', 0.0, '                                                                                                                                                               ', None, 0.0, 0.0, '        '),
 ('20088593', '05', '01', '4', 'VAME053             ', 'POST01                        ', '      ', 'N', '45201                                                                                                                                                          ', datetime.datetime(2014, 1, 16, 0, 0), '  ', datetime.datetime(2014, 1, 16, 0, 0), '  ', datetime.datetime(2014, 1, 16, 0, 0), 0, datetime.datetime(2014, 1, 8, 0, 0), '  ', 'EA', '200885930501             ', 3.8, 35.0, 35.0, 0.0, 35.0, 0.0, 0.0, 35.0, 0.0, 'CU', 'Y', 'Y', 'FGA1C   ', '   ', 3.8, 'R', 'VW331  ', 0.0, '          ', 0.0, '       ', 0.0, '       ', 0.0, '       ', 0.0, '   ', '   ', '               ', '                         ', 'N', 2.1, 0.0, '        ', 0, 0.0, ' ', datetime.datetime(2014, 1, 2, 0, 0), '                                                                                                    ', '                                                  ', 'marilyn', datetime.datetime(2014, 1, 2, 10, 12, 59, 10000), 'marilyn', datetime.datetime(2018, 3, 22, 12, 59, 46, 660000), datetime.datetime(2014, 1, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0), '   ', 'N', 3.8, 2, '                                                                                                                                                               ', 0.0, '                                                                                                                                                               ', None, 0.0, 0.0, '        ')]

In [19]:
# To get data in a proper dataframe format- use Pandas

df= pd.read_sql(sql_query, connection)

In [20]:
df.head(5)

                     date
0 2018-02-06 10:41:35.090
1 2018-02-06 10:41:48.610
2 2018-01-09 08:56:31.540
3 2018-01-09 08:57:50.433
4 2018-01-09 08:58:19.040

In [14]:
df.shape

(94701, 76)

### A better way

Using ipython-sql

In [12]:
#Install using pip
#pip install ipython-sql

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: ipython-sql in c:\users\jsingh\anaconda3\lib\site-packages (0.4.0)

Requirement already satisfied: ipython>=1.0 in c:\users\jsingh\anaconda3\lib\site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: sqlparse in c:\users\jsingh\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in c:\users\jsingh\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable<1 in c:\users\jsingh\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\jsingh\anaconda3\lib\site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\jsingh\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\jsingh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\jsingh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\jsingh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\jsingh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: pickleshare in c:\users\jsingh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\jsingh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\jsingh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: jedi>=0.10 in c:\users\jsingh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\jsingh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: wcwidth in c:\users\jsingh\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\jsingh\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)

In [15]:
conda install -c anaconda sqlalchemy

Note: you may need to restart the kernel to use updated packages.
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\jsingh\Anaconda3

  added / updated specs:
    - sqlalchemy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.10.14 |                0         159 KB  anaconda
    openssl-1.1.1h             |       he774522_0         5.8 MB  anaconda
    ------------------------------------------------------------
                                           Total:         5.9 MB

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates                                 pkgs/main --> anaconda
  openssl                                         pkgs/main --> anaconda



Downloading and Extracting Packages

openssl-1.1.1h       | 5.8 MB    |            |   0%
openssl-1.1.1h       | 5.8 MB    |            |   0%
openssl-1.1.1h       | 5.8 MB    | ###2       |  32%
openssl-1.1.1h       | 5.8 MB    | ########## | 100%
openssl-1.1.1h       | 5.8 MB    | ########## | 100%

ca-certificates-2020 | 159 KB    |            |   0%
ca-certificates-2020 | 159 KB    | ########## | 100%
ca-certificates-2020 | 159 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [9]:
import sqlalchemy

In [17]:
conda install -c conda-forge pyodbc

Note: you may need to restart the kernel to use updated packages.

In [17]:
#load SQL module
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql mysql+pymysql://user:pass@localhost:3306/employees

In [18]:
%%sql
select *
FROM [ExactMAXCaseMedical].[dbo].[SO_Detail]
WHERE ORGQTY_28 != CURQTY_28

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [20]:
connection = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server}; Server=SQLSERVERTEST;Database=ExactMAXCaseMedical;uid=sa;pwd=Twotbgrar2020!")
print(connection)

<pyodbc.Connection object at 0x000001F4A8D166B0>

In [16]:
import pyodbc, sqlalchemy

def connect():
    pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};Server=SQLSERVERTEST;Database=ExactMAXCaseMedical;UID=sa;PWD=Twotbgrar2020!;')

sqlalchemy.create_engine('mssql://', creator=connect)

Engine(mssql://)

In [19]:
%sql mssql://

(pyodbc.InterfaceError) ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')
(Background on this error at: http://sqlalche.me/e/13/rvf5)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [23]:
import urllib
params = urllib.parse.quote_plus("DRIVER={ODBC Driver 17 for SQL Server};"
                                 "SERVER=SQLSERVERTEST;"
                                 "DATABASE=ExactMAXCaseMedical;"
                                 "UID=sa;"
                                 "PWD=Twotbgrar2020!")

engine = sqlalchemy.create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [24]:
engine

Engine(mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DSQLSERVERTEST%3BDATABASE%3DExactMAXCaseMedical%3BUID%3Dsa%3BPWD%3DTwotbgrar2020%21)

In [26]:
%reload_ext sql

In [27]:
%sql mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DSQLSERVERTEST%3BDATABASE%3DExactMAXCaseMedical%3BUID%3Dsa%3BPWD%3DTwotbgrar2020%21

In [ ]:
%%sql

SELECT *  
FROM [ExactMAXCaseMedical].[dbo].[SO_Detail]