### Database Connection to fetch data in a dataframe using pandas

In [2]:
import pyodbc
import pandas as pd

In [3]:
pyodbc.drivers() #To check which all drivers are available

['SQL Server',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [4]:
connection = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server}; Server=SQLSERVERTEST;Database=ExactMAXCaseMedical;uid=sa;pwd=Twotbgrar2020!")
print(connection)

<pyodbc.Connection object at 0x000001D540CB3030>

In [5]:
cursor=connection.cursor()

In [6]:
sql_query="SELECT * FROM [ExactMAXCaseMedical].[dbo].[SO_Detail]"

In [7]:
cursor.execute(sql_query)

In [8]:
data=cursor.fetchall()
data[:5]

[('20088593', '01', '01', '4', 'VAME053             ', 'SC02NG                        ', '      ', 'N', '45201                                                                                                                                                          ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), 0, datetime.datetime(2014, 1, 8, 0, 0), '  ', 'EA', '200885930101             ', 277.39, 7.0, 7.0, 0.0, 7.0, 0.0, 0.0, 7.0, 0.0, 'CU', 'Y', 'Y', 'MED-PART', '   ', 277.39, 'R', 'VW331  ', 0.0, '          ', 0.0, '       ', 0.0, '       ', 0.0, '       ', 0.0, '   ', '   ', '               ', '                         ', 'N', 0.0, 0.0, '        ', 0, 0.0, ' ', datetime.datetime(2014, 1, 2, 0, 0), '                                                                                                    ', '                                                  ', 'marilyn', datetime.datetime(2014, 1, 2, 10, 11, 36, 253000), 'marilyn', datetime.datetime(2018, 3, 22, 12, 59, 46, 660000), datetime.datetime(2014, 1, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0), '   ', 'N', 277.39, 2, '                                                                                                                                                               ', 0.0, '                                                                                                                                                               ', None, 0.0, 0.0, '        '),
 ('20088593', '02', '01', '4', 'VAME053             ', 'STN1                          ', '      ', 'N', '45201                                                                                                                                                          ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), 0, datetime.datetime(2014, 1, 8, 0, 0), '  ', 'EA', '200885930201             ', 57.28, 7.0, 7.0, 0.0, 7.0, 0.0, 0.0, 7.0, 0.0, 'CU', 'Y', 'Y', 'FGB1B   ', '   ', 57.28, 'R', 'VW331  ', 0.0, '          ', 0.0, '       ', 0.0, '       ', 0.0, '       ', 0.0, '   ', '   ', '               ', '                         ', 'N', 0.0, 0.0, '        ', 0, 0.0, ' ', datetime.datetime(2014, 1, 2, 0, 0), '                                                                                                    ', '                                                  ', 'marilyn', datetime.datetime(2014, 1, 2, 10, 11, 49, 277000), 'marilyn', datetime.datetime(2018, 3, 22, 12, 59, 46, 660000), datetime.datetime(2014, 1, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0), '   ', 'N', 57.28, 2, '                                                                                                                                                               ', 0.0, '                                                                                                                                                               ', None, 0.0, 0.0, '        '),
 ('20088593', '03', '01', '4', 'VAME053             ', 'SCPLQ4C                       ', '      ', 'N', '45201                                                                                                                                                          ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), '  ', datetime.datetime(2014, 1, 2, 0, 0), 0, datetime.datetime(2014, 1, 8, 0, 0), '  ', 'EA', '200885930301             ', 7.0, 7.0, 7.0, 0.0, 7.0, 0.0, 0.0, 7.0, 0.0, 'CU', 'Y', 'Y', 'FGE2A   ', '   ', 7.0, 'R', 'VW331  ', 0.0, '          ', 0.0, '       ', 0.0, '       ', 0.0, '       ', 0.0, '   ', '   ', '               ', '                         ', 'N', 0.0, 0.0, '        ', 0, 0.0, ' ', datetime.datetime(2014, 1, 2, 0, 0), '                                                                                                    ', '                                                  ', 'marilyn', datetime.datetime(2014, 1, 2, 10, 12, 13, 373000), 'marilyn', datetime.datetime(2018, 3, 22, 12, 59, 46, 660000), datetime.datetime(2014, 1, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0), '   ', 'N', 7.0, 2, '                                                                                                                                                               ', 0.0, '                                                                                                                                                               ', None, 0.0, 0.0, '        '),
 ('20088593', '04', '01', '4', 'VAME053             ', 'BES002                        ', '      ', 'N', '45201                                                                                                                                                          ', datetime.datetime(2014, 3, 11, 0, 0), '  ', datetime.datetime(2014, 3, 11, 0, 0), '  ', datetime.datetime(2014, 3, 11, 0, 0), 0, datetime.datetime(2014, 1, 8, 0, 0), '  ', 'EA', '200885930401             ', 10.87, 14.0, 14.0, 0.0, 14.0, 0.0, 0.0, 14.0, 0.0, 'CU', 'Y', 'Y', 'FGA2B   ', '   ', 10.87, 'R', 'VW331  ', 0.0, '          ', 0.0, '       ', 0.0, '       ', 0.0, '       ', 0.0, '   ', '   ', '               ', '                         ', 'N', 2.71, 0.0, '        ', 0, 0.0, ' ', datetime.datetime(2014, 1, 2, 0, 0), '                                                                                                    ', '                                                  ', 'marilyn', datetime.datetime(2014, 1, 2, 10, 12, 39, 600000), 'marilyn', datetime.datetime(2018, 3, 22, 12, 59, 46, 660000), datetime.datetime(2014, 1, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0), '   ', 'N', 10.87, 2, '                                                                                                                                                               ', 0.0, '                                                                                                                                                               ', None, 0.0, 0.0, '        '),
 ('20088593', '05', '01', '4', 'VAME053             ', 'POST01                        ', '      ', 'N', '45201                                                                                                                                                          ', datetime.datetime(2014, 1, 16, 0, 0), '  ', datetime.datetime(2014, 1, 16, 0, 0), '  ', datetime.datetime(2014, 1, 16, 0, 0), 0, datetime.datetime(2014, 1, 8, 0, 0), '  ', 'EA', '200885930501             ', 3.8, 35.0, 35.0, 0.0, 35.0, 0.0, 0.0, 35.0, 0.0, 'CU', 'Y', 'Y', 'FGA1C   ', '   ', 3.8, 'R', 'VW331  ', 0.0, '          ', 0.0, '       ', 0.0, '       ', 0.0, '       ', 0.0, '   ', '   ', '               ', '                         ', 'N', 2.1, 0.0, '        ', 0, 0.0, ' ', datetime.datetime(2014, 1, 2, 0, 0), '                                                                                                    ', '                                                  ', 'marilyn', datetime.datetime(2014, 1, 2, 10, 12, 59, 10000), 'marilyn', datetime.datetime(2018, 3, 22, 12, 59, 46, 660000), datetime.datetime(2014, 1, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0), '   ', 'N', 3.8, 2, '                                                                                                                                                               ', 0.0, '                                                                                                                                                               ', None, 0.0, 0.0, '        ')]

In [9]:
# To get data in a proper dataframe format- use Pandas

df= pd.read_sql(sql_query, connection)

In [10]:
df.head(5)

,ORDNUM_28,LINNUM_28,DELNUM_28,STATUS_28,CUSTID_28,PRTNUM_28,EDILIN_28,TAXABL_28,GLXREF_28,CURDUE_28,...,MANPRC_28,ORGPRC_28,PRCALC_28,CLASS_28,WARRES_28,JOB_28,CSENDDTE_28,CONSGND_28,CURCONSGND_28,CONSIGNSTK_28
0,20088593,01,01,4,VAME053,SC02NG,,N,45201 ...,2014-01-02,...,N,277.39,2,...,0.0,...,None,0.0,0.0,
1,20088593,02,01,4,VAME053,STN1,,N,45201 ...,2014-01-02,...,N,57.28,2,...,0.0,...,None,0.0,0.0,
2,20088593,03,01,4,VAME053,SCPLQ4C,,N,45201 ...,2014-01-02,...,N,7.00,2,...,0.0,...,None,0.0,0.0,
3,20088593,04,01,4,VAME053,BES002,,N,45201 ...,2014-03-11,...,N,10.87,2,...,0.0,...,None,0.0,0.0,
4,20088593,05,01,4,VAME053,POST01,,N,45201 ...,2014-01-16,...,N,3.80,2,...,0.0,...,None,0.0,0.0,

In [11]:
df.shape

(220245, 76)